In [1]:
import pandas as pd
import numpy as np
import os
import csv
from unidecode import unidecode

In [2]:
print(os.getcwd())

C:\Users\LACINE BERTHE\Desktop\2022-2023\Pole_emploi\Formation\Data_Scientest\Projet\Satisfaction_client

In [3]:
df=pd.read_csv('C:/Users/LACINE BERTHE/Desktop/2022-2023/Pole_emploi/Formation/Data_Scientest/Projet/Satisfaction_client/Infos_Commentaire.csv')
df.head()

,Unnamed: 0,Titre comment,Date de répinse,Reponse ou non,Liste peronnes,Nombre d'étoile
0,0,encore une commande partiellement…,NaN,True,Showroomprive.com,1
1,1,Très déçue,26 février 2023,True,Showroomprive.com,1
2,2,Je n’ai jamais reçu ma commande,NaN,True,Showroomprive.com,1
3,3,Showroomprive c est fini !,NaN,True,Showroomprive.com,1
4,4,J'ai commandé 2 colliers,26 février 2023,True,Showroomprive.com,1

In [4]:
df=df.drop(df.columns[0], axis=1)
df.head()

,Titre comment,Date de répinse,Reponse ou non,Liste peronnes,Nombre d'étoile
0,encore une commande partiellement…,NaN,True,Showroomprive.com,1
1,Très déçue,26 février 2023,True,Showroomprive.com,1
2,Je n’ai jamais reçu ma commande,NaN,True,Showroomprive.com,1
3,Showroomprive c est fini !,NaN,True,Showroomprive.com,1
4,J'ai commandé 2 colliers,26 février 2023,True,Showroomprive.com,1

In [5]:
df.columns

Index(['Titre comment', 'Date de répinse', 'Reponse ou non', 'Liste peronnes',
       'Nombre d'étoile'],
      dtype='object')

In [6]:
df.shape

(498, 5)

In [7]:
df.to_csv('info_commentaire.csv',index=False)

In [8]:
# ouvrir le fichier CSV original et créer un nouveau fichier pour écrire les données modifiées
with open('info_commentaire.csv', 'r', encoding='utf-8') as fichier_original, \
     open('info_commentaire_sans_accents.csv', 'w', encoding='utf-8', newline='') as fichier_modifie:
     
    # créer un objet writer pour écrire les données modifiées
    writer = csv.writer(fichier_modifie, delimiter=',')

    # parcourir chaque ligne du fichier original, supprimer les accents et écrire les données modifiées dans le nouveau fichier
    reader = csv.reader(fichier_original)
    for ligne in reader:
        nouvelle_ligne = [unidecode(cellule) for cellule in ligne]
        writer.writerow(nouvelle_ligne)

In [10]:
data=pd.read_csv('C:/Users/LACINE BERTHE/Desktop/2022-2023/Pole_emploi/Formation/Data_Scientest/Projet/Satisfaction_client/info_commentaire_sans_accents.csv')
data.insert(0, 'id', range(data.shape[0]))
data.head()

,id,Titre comment,Date de repinse,Reponse ou non,Liste peronnes,Nombre d'etoile
0,0,encore une commande partiellement...,NaN,True,Showroomprive.com,1
1,1,Tres decue,26 fevrier 2023,True,Showroomprive.com,1
2,2,Je n'ai jamais recu ma commande,NaN,True,Showroomprive.com,1
3,3,Showroomprive c est fini !,NaN,True,Showroomprive.com,1
4,4,J'ai commande 2 colliers,26 fevrier 2023,True,Showroomprive.com,1

In [11]:
data.isna().sum()

id                  0
Titre comment       0
Date de repinse    98
Reponse ou non      0
Liste peronnes      0
Nombre d'etoile     0
dtype: int64

In [13]:
data.to_csv('showroom_commentaire.csv',index=False)