In [1]:
import pandas as pd
import numpy as np
import os
import csv
from unidecode import unidecode

In [2]:
print(os.getcwd())

C:\Users\LACINE BERTHE\Desktop\2022-2023\Pole_emploi\Formation\Data_Scientest\Projet\Satisfaction_client

In [3]:
df=pd.read_csv('C:/Users/LACINE BERTHE/Desktop/2022-2023/Pole_emploi/Formation/Data_Scientest/Projet/Satisfaction_client/infos_company2.csv')
df.head()

,Unnamed: 0,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activité,nombre d'avis excellent
0,0,Immoprêt,"4,9",5 265,"Lille, France",Banque,82 %
1,1,Younited Credit,"4,8",60 845,"Paris, France",Agence de crédit·Banque,81 %
2,2,CIB Formation,"4,8",498,"SAINT ETIENNE, France",Banque,79 %
3,3,Cofidis,"4,7",17 699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,4,Pixpay,"4,7",3 065,NaN,Banque,85 %

In [4]:
df=df.drop(df.columns[0], axis=1)
df.head()

,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activité,nombre d'avis excellent
0,Immoprêt,"4,9",5 265,"Lille, France",Banque,82 %
1,Younited Credit,"4,8",60 845,"Paris, France",Agence de crédit·Banque,81 %
2,CIB Formation,"4,8",498,"SAINT ETIENNE, France",Banque,79 %
3,Cofidis,"4,7",17 699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,Pixpay,"4,7",3 065,NaN,Banque,85 %

In [5]:
df.columns

Index(['Name_company', 'Note trust pilot', 'Nombre avis',
       'Localisation company', 'Domaine d activité',
       'nombre d'avis excellent'],
      dtype='object')

In [9]:
df.to_csv('info_company.csv',index=False)

In [10]:
# ouvrir le fichier CSV original et créer un nouveau fichier pour écrire les données modifiées
with open('info_company.csv', 'r', encoding='utf-8') as fichier_original, \
     open('info_company_sans_accents.csv', 'w', encoding='utf-8', newline='') as fichier_modifie:
     
    # créer un objet writer pour écrire les données modifiées
    writer = csv.writer(fichier_modifie, delimiter=',')

    # parcourir chaque ligne du fichier original, supprimer les accents et écrire les données modifiées dans le nouveau fichier
    reader = csv.reader(fichier_original)
    for ligne in reader:
        nouvelle_ligne = [unidecode(cellule) for cellule in ligne]
        writer.writerow(nouvelle_ligne)

In [13]:
df.shape

(360, 6)

In [11]:
data=pd.read_csv('C:/Users/LACINE BERTHE/Desktop/2022-2023/Pole_emploi/Formation/Data_Scientest/Projet/Satisfaction_client/info_company_sans_accents.csv')
data.head()

,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activite,nombre d'avis excellent
0,Immopret,"4,9",5 265,"Lille, France",Banque,82 %
1,Younited Credit,"4,8",60 845,"Paris, France",Agence de credit*Banque,81 %
2,CIB Formation,"4,8",498,"SAINT ETIENNE, France",Banque,79 %
3,Cofidis,"4,7",17 699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,Pixpay,"4,7",3 065,NaN,Banque,85 %

In [14]:
data.insert(0, 'id', range(data.shape[0]))

In [15]:
data.head()

,id,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activite,nombre d'avis excellent
0,0,Immopret,"4,9",5 265,"Lille, France",Banque,82 %
1,1,Younited Credit,"4,8",60 845,"Paris, France",Agence de credit*Banque,81 %
2,2,CIB Formation,"4,8",498,"SAINT ETIENNE, France",Banque,79 %
3,3,Cofidis,"4,7",17 699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,4,Pixpay,"4,7",3 065,NaN,Banque,85 %

In [16]:
data['Note trust pilot'] = data['Note trust pilot'].str.strip('"')
data['Note trust pilot'] = data['Note trust pilot'].replace(',', '.', regex=True)
data['Nombre avis'] = data['Nombre avis'].str.replace(' ', '')

In [11]:
data.dtypes

id                       int64
Name_company            object
Note trust pilot        object
Nombre avis             object
Localisation company    object
Domaine d activite      object
dtype: object

In [12]:
data['Nombre avis']

0       5257
1      60705
2      17591
3       6269
4        498
       ...
175       80
176       34
177       30
178       28
179       75
Name: Nombre avis, Length: 180, dtype: object

In [17]:
data.head()

,id,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activite,nombre d'avis excellent
0,0,Immopret,4.9,5265,"Lille, France",Banque,82 %
1,1,Younited Credit,4.8,60845,"Paris, France",Agence de credit*Banque,81 %
2,2,CIB Formation,4.8,498,"SAINT ETIENNE, France",Banque,79 %
3,3,Cofidis,4.7,17699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,4,Pixpay,4.7,3065,NaN,Banque,85 %

In [18]:
data.isna().sum()

id                           0
Name_company                38
Note trust pilot            40
Nombre avis                 40
Localisation company       118
Domaine d activite          38
nombre d'avis excellent     38
dtype: int64

In [19]:
data.shape

(360, 7)

In [21]:
data.to_csv('company.csv',index=False)